<!-- <img src="../../../../../assets/images/caminho2.jpg" alt=""> -->
<div class="content">
    <div class="text">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chandra Surya - do sânscrito Lua e Sol - foi um espaço esotérico fundado em 3 de setembro de 1993
            com o objetivo de reunir atividades que estavam sendo difundidas focadas na saúde e espiritualidade.
             Reunia uma diversidade de áreas e profissionais proporcionando
            uma oferta de terapias como meditação, yoga, reiki, consultas com astrólogos, tarólogos,
            hipnólogos, cursos de artes marciais e dança cigana. </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rapidamente o espaço foi conhecido pela comunidade do entorno e o Chandra (para os íntimos) tornou-se palco de
            encontros,
            descobertas e trocas. Não existe mais fisicamente, mas seus colaboradores e frequentadores sempre ansiaram
            por
            um reencontro acabando por surgir a ideia de um site. Espera-se que a comunidade Chandra Surya cresça ainda
            mais
            e seja acessível a todos aqueles que nunca puderam estar perto.</p>
    </div>
</div>